<div>
  <h1>Your surveys!</h1>
  {{#each surveyDetails}}
    <div>
      <h3>Survey Name: {{this.surveyDetailsData.surveyName}}</h3>

      <ul>
        <h3>You are giving surveys!</h3>
        {{#each this.surveyingForData}}
          <li>
            {{this.firstName}}
            {{this.lastName}}
            <a
            target="_blank"
              href="/dashboard/fillSurvey/{{../this.surveyDetailsData._id}}"
            >fill now</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>