<div id="reset_password_container">
    <h1 id="title">Reset Password</h1>
    <p id="instruction">
        Enter your new password below to reset your account password.
    </p>

    <div class="formDiv">
        <form action="/auth/reset-password" method="post" name="resetPasswordForm" id="resetPasswordForm">
            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="id" value="{{id}}">

            <label for="new_password">New Password
                <input type="password" id="new_password" name="newPassword" required
                    placeholder="Enter your new password">
            </label>

            <button type="submit" id="submit_button" name="submit_button">Reset Password</button>
        </form>
    </div>

    <div id="link">
        <a href="/auth/login">Back to Login</a>
    </div>
</div>