{{#if hasErrors}}
    <div id="server_error_div">
        <ul class="error">
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}
<div id="error_div" hidden>
    <ul id="error_list" class="error"></ul>
</div>
<form action='/questions/create-question' method='POST'>
	<label for='type'>Select Question Type:</label>
	<select name='type' id='type' required>
		<option value='' disabled selected>Select a question type</option>
		{{#each questionTypes}}
			<option value='{{type}}'>{{name}}</option>
		{{/each}}
	</select>
	<button type='submit'>Continue</button>
</form>