<form action='/questions/create-question' method='POST'>
	<label for='type'>Select Question Type:</label>
	<select name='type' id='type' required>
		<option value='' disabled selected>Select a question type</option>
		{{#each questionTypes}}
			<option value='{{type}}'>{{name}}</option>
		{{/each}}
	</select>
	<button type='submit'>Continue</button>
</form>